body {
    width: 1920px;
    box-sizing: border-box;
}

header {
    /* border: 2px solid rgb(230, 11, 29); */
    width: 100%;
    height: 1048px;
    position: relative;
    font-family: Poppins;
    background-color: #FFF5EC;
}

.logo {
    /* border: 2px solid tomato; */
    width: 245px;
    height: 108px;
    margin-left: 5%;
}

.logo img {
    object-fit: fill;
}

.nav {
    /* border: 2px solid rgb(216, 208, 207); */
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 490px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 7%;
    /* width: 20%; */
    margin-left: 30%;
    color: #2E266F;
}

.user {
    /* border: 2px solid rgb(139, 156, 39); */
    width: 120px;
    height: 52px;
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    /* color: white; */
}

.user img {
    width: 43%;
    object-fit: cover;
}

.user #user--rolate {
    transform: rotate(90deg);
    font-weight: bold;
}

#rolate {
    transform: rotate(90deg);
}

.slider {
    /* border: 2px solid rgb(35, 188, 226); */
    display: flex;
}

.slider__right {
    width: 25%;
    height: 1210px;
    background-color: #35CD8C;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.slider__bet {
    border: tomato 2px;
    display: flex;
    flex-direction: column;
    width: 878px;
    height: 870px;
}

#slider__bet__bg1 {
    width: 430px;
    height: 354px;
    position: absolute;
    top: 18%;
    right: 26%;
    z-index: 1;
}

#slider__bet__bg2 {
    width: 430px;
    height: 354px;
    position: absolute;
    top: 54%;
    right: 26%;
    z-index: 1;
}

#slider__bet__lettuce {
    width: 584px;
    height: 900px;
    z-index: 2;
    position: absolute;
    top: 0%;
    right: 8%;
}

#slider__bet__food {
    z-index: 3;
    width: 878px;
    height: 870px;
    position: absolute;
    top: 15%;
    right: 4%;
}

.slider__left {
    /* border: 2px solid rgb(4, 26, 68); */
    width: 75%;
}

.slider__left__text {
    background-color: white;
}

.slider__left__text h1 {
    width: 506px;
    height: 179px;
    font-size: 200px;
    font-weight: 900px;
    position: absolute;
    top: 15%;
    left: 5%;
    opacity: 0.05;
}

.slider__left__text h2 {
    width: 757px;
    height: 157px;
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    color: #2E266F;
    position: absolute;
    top: 45%;
    left: 5%;
}

.slider__left__text__input {
    background-color: white;
    width: 620px;
    height: 70px;
    display: flex;
    /* padding: 1%; */
    position: absolute;
    top: 60%;
    left: 4%;
    margin-top: 2%;
}

.slider__left__text__input #txt {
    width: 70%;
    padding: 3%;
    border: none;
}

.slider__left__text__input #btn {
    width: 30%;
    background-color: #35CD8C;
    border: none;
    border-radius: 60px 0 0 0;
    /* border-left: 1%; */
}

.slider__left .gps {
    width: 280px;
    height: 65px;
    border: white 1px solid;
    border-radius: 0 100px 100px 0;
    color: white;
    background-color: #35CD8C;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    /* float: left; */
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slider__left .gps i {
    font-size: 30px;
    margin-top: 10px;
}

.slider__left .gps p {
    font-size: 30px;
    margin: 0;
    align-self: center;
    margin-left: -50px;
}

.slider__right {}

.vector {
    width: 200px;
    /* border: 2px solid rgb(199, 21, 223); */
    position: absolute;
    bottom: 15%;
    right: 25%;
    display: flex;
    justify-content: space-between;
}

.vector .vector__left {
    /* color: white; */
    border: white 2px solid;
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.vector .vector__right {
    border: white 2px solid;
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.vector i {
    font-size: 30px;
    color: white;
    margin: 8px;
}